*{
    border:0;
    margin:0;
    padding:0;
}
button{
    border:1px solid gray;
    border-radius: 0.25em;
    height: 2.6em;
}
button, label{
    cursor: pointer;
}
form{
    display: block;
    margin:0;
}
h1,h2,h3{
    margin:0.25em 0 0 0;
}
hr{
    border-top:1px gray solid;
    margin: 0.5em 0;
}
input{
    height: 2.5em;
}
input,textarea{
    border:1px solid gray;
    border-radius: 0.25em;
    padding:0 0.25em;
}

p{
    padding:0.5em 0;
}
.form-horizontal button{
    display: block;
    float: right;
    text-align: center;
    width: 65px;
}
.form-horizontal label{
    display: inline-block;
    font-size: 0.75em;
    height: 1em;
    width: 190px;
}
.form-horizontal input{
    display: inline-block;
    width: calc(190px - 0.5em)
}
.form-vertical button{
    padding:0 0.5em;
}
.form-vertical input,.form-vertical textarea{
    margin-bottom: 0.5em;
    width: calc(100% - 0.5em);
}
.pull-right{
    display: block;
    float: right;
}
.text-center{
    text-align: center;
}
